<form [formGroup]="updateCustomerForm" class="space-y-4 mx-8 my-4">
  <div class="form-control-group">
    <div class="form-control">
      <label for="name" class="form-label">Name
        <app-required></app-required>
      </label>
      <input type="text" id="name" formControlName="name" required>
    </div>

    <div class="form-control">
      <label for="birthdate" class="form-label">Geburtsdatum
        <app-required></app-required>
      </label>
      <input type="date" id="birthdate" formControlName="birthday" required>
    </div>
  </div>

  <div class="form-control-group">
    <div class="form-control">
      <label for="phone" class="form-label">Telefon
        <app-required></app-required>
      </label>
      <input type="tel" required id="phone" formControlName="phone">
    </div>

    <div class="form-control">
      <label for="email" class="form-label">E-Mail
        <app-required></app-required>
      </label>
      <input type="email" id="email" required formControlName="email">
    </div>
  </div>

  <div class="form-control">
    <label for="street" class="form-label">Firma</label>
    <select id="company" formControlName="company">
      <option ngValue="" disabled>Zu Firma zuordnen</option>
      <ng-container *ngIf="companies">
        <option *ngFor="let company of companies" [ngValue]="company">
          {{ company.name }}
        </option>
      </ng-container>
    </select>
    <app-rest-error [error]="lastCompanyError"></app-rest-error>
  </div>

  <div formGroupName="address">
    <div class="form-control">
      <label for="street" class="form-label">Straße</label>
      <input type="text" id="street" formControlName="street">
    </div>

    <div class="form-control-group">
      <div class="form-control">
        <label for="plz" class="form-label">PLZ</label>
        <input type="text" min="1" max="9999" id="plz" formControlName="plz">
      </div>

      <div class="form-control">
        <label for="city" class="form-label">Stadt</label>
        <input type="text" id="city" formControlName="city">
      </div>

      <div class="form-control">
        <label for="country" class="form-label">Land</label>
        <input type="text" id="country" formControlName="country">
      </div>
    </div>
  </div>

  <button [disabled]="!updateCustomerForm.valid" type="submit" (click)="onSubmit(updateCustomerForm.value)"
          class="primary">Kunde
    {{data ? "aktualisieren" : "anlegen"}}
  </button>
  <app-rest-error [error]="lastError"></app-rest-error>
</form>
