<form [formGroup]="updateCompanyForm" class="space-y-4 mx-8 my-4">
  <div class="form-control">
    <label for="name" class="form-label">Name
      <app-required></app-required>
    </label>
    <input type="text" id="name" formControlName="name" required           >
  </div>

  <div formGroupName="address">
    <div class="form-control">
      <label for="street" class="form-label">Straße  <app-required></app-required></label>
      <input type="text" id="street" formControlName="street">
    </div>

    <div class="form-control-group">
      <div class="form-control">
        <label for="plz" class="form-label">Plz  <app-required></app-required></label>
        <input type="text" id="plz" formControlName="plz">
      </div>

      <div class="form-control">
        <label for="city" class="form-label">Stadt  <app-required></app-required></label>
        <input type="text" id="city" formControlName="city">
      </div>

      <div class="form-control">
        <label for="country" class="form-label">Land  <app-required></app-required></label>
        <input type="text" id="country" formControlName="country">
      </div>
    </div>
  </div>

  <button [disabled]="!updateCompanyForm.valid" type="submit" (click)="onSubmit(updateCompanyForm.value)"
          class="primary">Firma {{data?"speichern":"anlegen"}}
  </button>
  <app-rest-error [error]="lastError"></app-rest-error>
</form>
