<form [formGroup]="updateCompanyForm" class="space-y-4">
    <div class="flex flex-col">
        <label for="id" class="mb-2 font-bold text-lg">ID</label>
        <input type="text" id="id" formControlName="id"
               class="px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
    </div>

    <div class="flex flex-col">
        <label for="name" class="mb-2 font-bold text-lg">Name</label>
        <input type="text" id="name" formControlName="name"
               class="px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
    </div>

    <div formGroupName="address" class="space-y-4">

        <div class="flex flex-col">
            <label for="street" class="mb-2 font-bold text-lg">Street</label>
            <input type="text" id="street" formControlName="street"
                   class="px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
        </div>

        <div class="flex flex-col">
            <label for="plz" class="mb-2 font-bold text-lg">PLZ</label>
            <input type="text" id="plz" formControlName="plz"
                   class="px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
        </div>

        <div class="flex flex-col">
            <label for="city" class="mb-2 font-bold text-lg">City</label>
            <input type="text" id="city" formControlName="city"
                   class="px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
        </div>

        <div class="flex flex-col">
            <label for="country" class="mb-2 font-bold text-lg">Country</label>
            <input type="text" id="country" formControlName="country"
                   class="px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
        </div>

    </div>

    <button type="submit" class="mt-4 px-6 py-2 bg-blue-500 text-white font-bold rounded-lg">Submit</button>
</form>
